<h2>Deactivated Subscription</h2>

<%= render partial: "detail_table" %>

<div>
  <p>You may need to update your credit card.</p>

  <p><%= link_to "My Subscription", subscription_url("my") %></p>
</div>